/* MyTravelRequests.css */

.btn-secondary.disabled {
    background-color: grey;
    border-color: grey;
    cursor: not-allowed;
  }
  
  .btn-success {
    background-color: green;
    border-color: green;
    cursor: not-allowed;
  }
  
  .btn-danger.disabled {
    background-color: red;
    border-color: red;
    cursor: not-allowed;
  }
  